<!-- To add more icons, duplicate a section and find yout icon here -> https://fontawesome.com/v6.0/icons -->

<div class="social-links">
    {% if site.imdb %}
        <a class="link" data-title="imdb.com/name/{{ site.imdb }}" href="https://imdb.com/name/{{ site.imdb }}" target="_blank" rel="noopener" alt="anchor link for social media imdb" aria-label="anchor link for social media imdb">
            <i class="fa-brands fa-imdb"></i>
        </a>
    {% endif %}

    {% if site.crewunited %}
        <a class="link" data-title="crew-united.com/de/{{ site.crewunited }}" href="https://crew-united.com/de/{{ site.crewunited }}" target="_blank" rel="noopener" alt="anchor link for social media crew united" aria-label="anchor link for social media crew united">
            <i class="fa-solid fa-address-book"></i>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" target="_blank"  rel="noopener" alt="anchor link for social media instagram" aria-label="anchor link for social media instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"  rel="noopener" alt="anchor link for social media linkedin" aria-label="anchor link for social media linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}"  rel="noopener" alt="anchor link for email" aria-label="anchor link for email">
            <i class="fa-regular fa-envelope"></i>
        </a>
    {% endif %}
</div>
